<section id="menu">
  <article>
    <h3>Sessões </h3>

    <select #menu (change)="0">
      <option value="0">Selecione a sessão</option>
      <option value="interpolation">Interpalation</option>
      <option value="propertybinding">Property Binding</option>
      <option value="classstyle">Class Style Binding</option>
      <option value="eventbinding">Event Binding</option>
      <option value="twoway">Two Way</option>
      <option value="inputproperty">Input-Property</option>
      <option value="outputproperty">Output-Property</option>
    </select>
  </article>
</section>

<section [style.display]="menu.value == 'interpolation' ? 'block' : 'none'">
  <article id="interpolation">
    <h3>Interpolation/Interporlação </h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p> Resultado de 1 + 1 = {{ 1 + 1}}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso()}} </p>
  </article>
</section>
<section [style.display]="menu.value == 'propertybinding' ? 'block' : 'none'">
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
    <img bind-src="urlImagem">
  </article>
</section>
<section [style.display]="menu.value == 'classstyle' ? 'block' : 'none'">
  <article>
    <h3>Class e Style Binding</h3>
    <span>Mudando a classe usando property-binding, alterando a variável #classe com o comportamento (change) e interpolação</span>
    <span></span>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
    </div>

    <br>
    <br>

    <div class="alert {{classe.value}}" role="alert">
      Texto colorido conforme valor do combobox.
    </div>
    <br>
    <br>

    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

    <br>
    <br>
    <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Esse texto somente aparece em caso de erro. Usando property-binding com estilo de classe.
    </div>

  </article>
</section>
<section [style.display]="menu.value == 'eventbinding' ? 'block' : 'none'">

  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>
    </div>
    <br>
    <br>
    <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" (blur)="salvarValor(campoInput.value)"
      #campoInput />
    <p>Valor Atual: {{ valorAtual }}</p>
    <p>Valor Salvo: {{ valorSalvo }}</p>

    <br>
    <br>
    <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
      Passe o mouse sobre mim.
    </span>
  </article>

</section>
<section [style.display]="menu.value == 'twoway' ? 'block' : 'none'">
  <app-meu-form></app-meu-form>
</section>
<section [style.display]="menu.value == 'inputproperty' ? 'block' : 'none'">
  <article>
    <h3>Input Properties</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>
  </article>
</section>
<section [style.display]="menu.value == 'outputproperty' ? 'block' : 'none'">
  <article>
    <h3>Output Properties</h3>
    <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador>
  </article>
</section>