<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
        <a class="navbar-brand">Angular Forms</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/templateForm">Form - Template Driven</a></li>
      <li routerLinkActive="active"><a routerLink="/dataForm">Form - Data Driven</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle glyphicon glyphicon-th-list"
         data-toggle="dropdown"> Menu <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="glyphicon glyphicon-log-in" href="#"> Login</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li>
            <a href="#">Separated link</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>