<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="usermenu">
        <span class="pull-left">
          <a href="#" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Home</a>
          <a href="#" class="btn btn-default">
            <span class="glyphicon glyphicon-folder-open"></span> Categories</a>
          <a href="#" class="btn btn-default">
            <span class="glyphicon glyphicon-tags"></span> Tags</a>
          <a href="#" class="btn btn-default">
            <span class="glyphicon glyphicon-tower"></span> Team</a>
          <a href="#" class="btn btn-default">
            <span class="glyphicon glyphicon-calendar"></span> Archives</a>

          <div class="btn-group">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-user"></span> Username</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            
          </div>
        </span>

      </div>
    </div>
  </div>
</div>

