<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">{{title}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item "  [class.active]="aba == 'home'" (click)="aba = 'home'">
                <a class="nav-link" >Home</a>
              </li>
              <li class="nav-item" [class.active]="aba == 'mapa'"  (click)="aba = 'mapa'">
                <a class="nav-link" >Mapa</a>
              </li>
              <li class="nav-item" [class.active]="aba == 'lista'"  (click)="aba = 'lista'">
                <a class="nav-link" >Lista</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <!-- Page Content -->
      <div class="container">
      
        <div class="row">
          <!-- Post Content Column -->
          <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">Post Title</h1>
            <!-- Author -->
            <p class="lead">
              by
              <a href="#">Start Bootstrap</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p>{{ today | date:'medium' }}</p>
      
            <hr>
                <!--app-diretiva-ngif></app-diretiva-ngif-->
                <!--app-diretiva-ngswitch></app-diretiva-ngswitch-->
                <!--app-diretiva-ngfor></app-diretiva-ngfor-->
            <hr>
      
          </div>
      
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">
      
            <!-- Search Widget -->
            <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
      
            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="card-header">Categories</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#">Web Design</a>
                      </li>
                      <li>
                        <a href="#">HTML</a>
                      </li>
                      <li>
                        <a href="#">Freebies</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#">JavaScript</a>
                      </li>
                      <li>
                        <a href="#">CSS</a>
                      </li>
                      <li>
                        <a href="#">Tutorials</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
      
            <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Side Widget</h5>
              <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
              </div>
            </div>
      
          </div>
      
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->
      
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">® Copyright &copy; Uirá Peixoto  2017</p>
        </div>
        <!-- /.container -->
      </footer>
