<section class="nb-demo">
    <div class="row">
      <div class="col-sm-12">
        <div class="dropdown iconic-dropdown">
          <a class="btn btn-default dropdown-toggle"  data-toggle="dropdown" href="#">
            Menu
            <i class="fa fa-caret-down"></i>
          </a>
          <ul role="menu" class="dropdown-menu list-inline">
            <li>
              <a  (click)="aba = 'home'">
                <i class="fa fa-home"> Home</i>
              </a>
            </li>
            <li>
              <a  (click)="aba = 'lista'">
                <i class="fa fa-list"> Lista</i>
              </a>
            </li>
            <li>
              <a  (click)="aba = 'mapa'">
                <i class="fa fa-map-o"> Mapa</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>

<hr>

<div class="col-md-12" [ngSwitch]="aba">
  <p *ngSwitchCase="'mapa'">Modo Mapa ativado</p>
  <p *ngSwitchCase="'lista'">Modo Lista ativado</p>
  <p *ngSwitchDefault>Modo Home ativado</p>
</div>