<h5>Exemplos de Pipes</h5>

<p>Título: {{livro.titulo | uppercase | lowercase | camelCase}}</p>
<p>Estrelas: {{livro.rating | number:'1.1-1'}}</p>
<p>Páginas: {{livro.numeroPaginas | number}}</p>
<p>Preço: {{livro.preco | currency:'BRL':true}}</p>
<p>Data Lançamento: {{livro.dataLancamento | date:'dd-MMM-yyyy'}}</p>
<p>Url: {{livro.url}}</p>
<br>
<p>Livro: {{livro | json}}</p>


<div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Inserir Curso</h3>
    </div>
    <div class="panel-body">
      <input type="text" #novoValor>
      <button class="btn btn-primary btn-sm" (click)="addCurso(novoValor.value)">Add</button>
    </div>
</div>

<p>Livros:<input type="text" required [(ngModel)]="filtro" /></p>

<h5>Pipe Puro</h5>

<ul>
  <li *ngFor="let liv of livros | filtroArray:filtro">
    {{liv}}
  </li>
</ul>

<h5>Pipe Puro Impuro</h5>

<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
    {{liv}}
  </li>
</ul>

<h5>Maneira correta de colocar filtro no array</h5>

<ul>
  <li *ngFor="let liv of obterLivros()">
    {{liv}}
  </li>
</ul>

<p>{{ valorAsync | async}}</p>
<p>{{ valorAsync2 | async}}</p>